.btn-theme {
    position: fixed;
    cursor: pointer;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.light {
    background-image: url("../../Images/toggle-off.svg");
}

.dark {
    background-image: url("../../Images/toggle-on.svg");
}

.sun {
    display: block;
    background-image: url("../../Images/sun.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
    top: -73px;
    left: 583px;
}

.moon {
    display: block;
    background-image: url("../../Images/moon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
    top: -73px;
    left: 603px;
}

@media (max-width: 1200px) {
    .btn-theme {
        top: -110px;
    }
}

@media (max-width: 860px) {
    .btn-theme {
        top: -145px;
    }
}

@media (max-width: 590px) {
    .btn-theme {
        top: -195px;
    }
}